#app2 {
  width: 50vw;
  height: 50vh;
}
#app2 .tab-bar {
  display: flex;
}
#app2 .tab-bar > li {
  border: 3px solid black;
  width: 50%;
}
#app2 .tab-bar > li.selected{
    background: rgb(207, 221, 10);
    color: white;
}
#app2 .tab-content {
}
#app2 .tab-content > li {
  display: none;
}
#app2 .tab-content > li.active {
display: block;
}